@import url("../#constants.css");
/* Animation Shortcuts */
.animated {
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.infinite {
  animation-iteration-count: infinite;
}

.reverse {
  animation-direction: reverse;
}

.alternate {
  animation-direction: alternate;
}

/* Animation Duration Utilities */
.animation-duration-75 {
  animation-duration: 75ms;
}

.animation-duration-100 {
  animation-duration: 100ms;
}

.animation-duration-200 {
  animation-duration: 200ms;
}

.animation-duration-300 {
  animation-duration: 300ms;
}

.animation-duration-500 {
  animation-duration: 500ms;
}

.animation-duration-1000 {
  animation-duration: 1000ms;
}

/* Animation Delay Utilities */
.animation-delay-75 {
  animation-delay: 75ms;
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-150 {
  animation-delay: 150ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-1000 {
  animation-delay: 1000ms;
}

/* Animation Timing Function Utilities */
.animation-ease {
  animation-timing-function: ease;
}

.animation-linear {
  animation-timing-function: linear;
}

.animation-ease-in {
  animation-timing-function: ease-in;
}

.animation-ease-out {
  animation-timing-function: ease-out;
}

.animation-ease-in-out {
  animation-timing-function: ease-in-out;
}

.animation-elastic {
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.animation-spring {
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.animation-bounce {
  animation-timing-function: cubic-bezier(0.53, 2, 0.36, 0.85);
}

.animation-steps-2 {
  animation-timing-function: steps(2);
}

.animation-steps-4 {
  animation-timing-function: steps(4);
}

.animation-steps-end {
  animation-timing-function: steps(1, end);
}

.animation-steps-start {
  animation-timing-function: steps(1, start);
}
