.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-32 {
  gap: 8rem;
}

.gap-40 {
  gap: 10rem;
}

.gap-48 {
  gap: 12rem;
}

.gap-56 {
  gap: 14rem;
}

.gap-64 {
  gap: 16rem;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.m-10 {
  margin: 2.5rem;
}

.m-12 {
  margin: 3rem;
}

.m-16 {
  margin: 4rem;
}

.m-20 {
  margin: 5rem;
}

.m-24 {
  margin: 6rem;
}

.m-32 {
  margin: 8rem;
}

.m-40 {
  margin: 10rem;
}

.m-48 {
  margin: 12rem;
}

.m-56 {
  margin: 14rem;
}

.m-64 {
  margin: 16rem;
}

.mx-auto {
  margin-inline: auto;
}

.mx-1 {
  margin-inline: 0.25rem;
}

.mx-2 {
  margin-inline: 0.5rem;
}

.mx-3 {
  margin-inline: 0.75rem;
}

.mx-4 {
  margin-inline: 1rem;
}

.mx-5 {
  margin-inline: 1.25rem;
}

.mx-6 {
  margin-inline: 1.5rem;
}

.mx-8 {
  margin-inline: 2rem;
}

.mx-10 {
  margin-inline: 2.5rem;
}

.mx-12 {
  margin-inline: 3rem;
}

.mx-16 {
  margin-inline: 4rem;
}

.mx-20 {
  margin-inline: 5rem;
}

.mx-24 {
  margin-inline: 6rem;
}

.mx-32 {
  margin-inline: 8rem;
}

.mx-40 {
  margin-inline: 10rem;
}

.mx-48 {
  margin-inline: 12rem;
}

.mx-56 {
  margin-inline: 14rem;
}

.mx-64 {
  margin-inline: 16rem;
}

.my-auto {
  margin-block: auto;
}

.my-1 {
  margin-block: 0.25rem;
}

.my-2 {
  margin-block: 0.5rem;
}

.my-3 {
  margin-block: 0.75rem;
}

.my-4 {
  margin-block: 1rem;
}

.my-5 {
  margin-block: 1.25rem;
}

.my-6 {
  margin-block: 1.5rem;
}

.my-8 {
  margin-block: 2rem;
}

.my-10 {
  margin-block: 2.5rem;
}

.my-12 {
  margin-block: 3rem;
}

.my-16 {
  margin-block: 4rem;
}

.my-20 {
  margin-block: 5rem;
}

.my-24 {
  margin-block: 6rem;
}

.my-32 {
  margin-block: 8rem;
}

.my-40 {
  margin-block: 10rem;
}

.my-48 {
  margin-block: 12rem;
}

.my-56 {
  margin-block: 14rem;
}

.my-64 {
  margin-block: 16rem;
}

.p-auto {
  padding: auto;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-12 {
  padding: 3rem;
}

.p-16 {
  padding: 4rem;
}

.p-20 {
  padding: 5rem;
}

.p-24 {
  padding: 6rem;
}

.p-32 {
  padding: 8rem;
}

.p-40 {
  padding: 10rem;
}

.p-48 {
  padding: 12rem;
}

.p-56 {
  padding: 14rem;
}

.p-64 {
  padding: 16rem;
}

.px-auto {
  padding-inline: auto;
}

.px-1 {
  padding-inline: 0.25rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.px-3 {
  padding-inline: 0.75rem;
}

.px-4 {
  padding-inline: 1rem;
}

.px-5 {
  padding-inline: 1.25rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.px-8 {
  padding-inline: 2rem;
}

.px-10 {
  padding-inline: 2.5rem;
}

.px-12 {
  padding-inline: 3rem;
}

.px-16 {
  padding-inline: 4rem;
}

.px-20 {
  padding-inline: 5rem;
}

.px-24 {
  padding-inline: 6rem;
}

.px-32 {
  padding-inline: 8rem;
}

.px-40 {
  padding-inline: 10rem;
}

.px-48 {
  padding-inline: 12rem;
}

.px-56 {
  padding-inline: 14rem;
}

.px-64 {
  padding-inline: 16rem;
}

.py-auto {
  padding-block: auto;
}

.py-1 {
  padding-block: 0.25rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.py-3 {
  padding-block: 0.75rem;
}

.py-4 {
  padding-block: 1rem;
}

.py-5 {
  padding-block: 1.25rem;
}

.py-6 {
  padding-block: 1.5rem;
}

.py-8 {
  padding-block: 2rem;
}

.py-10 {
  padding-block: 2.5rem;
}

.py-12 {
  padding-block: 3rem;
}

.py-16 {
  padding-block: 4rem;
}

.py-20 {
  padding-block: 5rem;
}

.py-24 {
  padding-block: 6rem;
}

.py-32 {
  padding-block: 8rem;
}

.py-40 {
  padding-block: 10rem;
}

.py-48 {
  padding-block: 12rem;
}

.py-56 {
  padding-block: 14rem;
}

.py-64 {
  padding-block: 16rem;
}

.border-none {
  border-style: none;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.outline-none {
  outline-style: none;
}

.outline-solid {
  outline-style: solid;
}

.outline-dashed {
  outline-style: dashed;
}

.outline-dotted {
  outline-style: dotted;
}

.outline-double {
  outline-style: double;
}

.outline-1 {
  outline: 0.25rem;
}

.outline-2 {
  outline: 0.5rem;
}

.outline-3 {
  outline: 0.75rem;
}

.outline-4 {
  outline: 1rem;
}

.outline-5 {
  outline: 1.25rem;
}

.outline-6 {
  outline: 1.5rem;
}

.outline-8 {
  outline: 2rem;
}

.outline-10 {
  outline: 2.5rem;
}

.outline-12 {
  outline: 3rem;
}

.outline-16 {
  outline: 4rem;
}

.outline-20 {
  outline: 5rem;
}

.outline-24 {
  outline: 6rem;
}

.outline-32 {
  outline: 8rem;
}

.outline-40 {
  outline: 10rem;
}

.outline-48 {
  outline: 12rem;
}

.outline-56 {
  outline: 14rem;
}

.outline-64 {
  outline: 16rem;
}

.radius-1 {
  border-radius: 0.25rem;
}

.radius-2 {
  border-radius: 0.5rem;
}

.radius-3 {
  border-radius: 0.75rem;
}

.radius-4 {
  border-radius: 1rem;
}

.radius-5 {
  border-radius: 1.25rem;
}

.radius-6 {
  border-radius: 1.5rem;
}

.radius-8 {
  border-radius: 2rem;
}

.radius-10 {
  border-radius: 2.5rem;
}

.radius-12 {
  border-radius: 3rem;
}

.radius-16 {
  border-radius: 4rem;
}

.radius-20 {
  border-radius: 5rem;
}

.radius-24 {
  border-radius: 6rem;
}

.radius-32 {
  border-radius: 8rem;
}

.radius-40 {
  border-radius: 10rem;
}

.radius-48 {
  border-radius: 12rem;
}

.radius-56 {
  border-radius: 14rem;
}

.radius-64 {
  border-radius: 16rem;
}

.radius-full {
  border-radius: 50%;
}

.w-auto {
  width: auto;
}

.w-0 {
  width: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-auto {
  height: auto;
}

.h-0 {
  height: 0;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}
