@import url("../#constants.css");
.translate-x-0 {
  transform: translatex(0);
}

.-translate-x-0 {
  transform: translatex(-0);
}

.translate-x-25 {
  transform: translatex(0.015625rem);
}

.-translate-x-25 {
  transform: translatex(-0.015625rem);
}

.translate-x-5 {
  transform: translatex(0.03125rem);
}

.-translate-x-5 {
  transform: translatex(-0.03125rem);
}

.translate-x-1 {
  transform: translatex(0.0625rem);
}

.-translate-x-1 {
  transform: translatex(-0.0625rem);
}

.translate-x-2 {
  transform: translatex(0.125rem);
}

.-translate-x-2 {
  transform: translatex(-0.125rem);
}

.translate-x-3 {
  transform: translatex(0.1875rem);
}

.-translate-x-3 {
  transform: translatex(-0.1875rem);
}

.translate-x-4 {
  transform: translatex(0.25rem);
}

.-translate-x-4 {
  transform: translatex(-0.25rem);
}

.translate-x-6 {
  transform: translatex(0.375rem);
}

.-translate-x-6 {
  transform: translatex(-0.375rem);
}

.translate-x-8 {
  transform: translatex(0.5rem);
}

.-translate-x-8 {
  transform: translatex(-0.5rem);
}

.translate-x-10 {
  transform: translatex(0.625rem);
}

.-translate-x-10 {
  transform: translatex(-0.625rem);
}

.translate-x-12 {
  transform: translatex(0.75rem);
}

.-translate-x-12 {
  transform: translatex(-0.75rem);
}

.translate-x-16 {
  transform: translatex(1rem);
}

.-translate-x-16 {
  transform: translatex(-1rem);
}

.translate-x-24 {
  transform: translatex(1.5rem);
}

.-translate-x-24 {
  transform: translatex(-1.5rem);
}

.translate-x-32 {
  transform: translatex(2rem);
}

.-translate-x-32 {
  transform: translatex(-2rem);
}

.translate-y-0 {
  transform: translatey(0);
}

.-translate-y-0 {
  transform: translatey(-0);
}

.translate-y-25 {
  transform: translatey(0.015625rem);
}

.-translate-y-25 {
  transform: translatey(-0.015625rem);
}

.translate-y-5 {
  transform: translatey(0.03125rem);
}

.-translate-y-5 {
  transform: translatey(-0.03125rem);
}

.translate-y-1 {
  transform: translatey(0.0625rem);
}

.-translate-y-1 {
  transform: translatey(-0.0625rem);
}

.translate-y-2 {
  transform: translatey(0.125rem);
}

.-translate-y-2 {
  transform: translatey(-0.125rem);
}

.translate-y-3 {
  transform: translatey(0.1875rem);
}

.-translate-y-3 {
  transform: translatey(-0.1875rem);
}

.translate-y-4 {
  transform: translatey(0.25rem);
}

.-translate-y-4 {
  transform: translatey(-0.25rem);
}

.translate-y-6 {
  transform: translatey(0.375rem);
}

.-translate-y-6 {
  transform: translatey(-0.375rem);
}

.translate-y-8 {
  transform: translatey(0.5rem);
}

.-translate-y-8 {
  transform: translatey(-0.5rem);
}

.translate-y-10 {
  transform: translatey(0.625rem);
}

.-translate-y-10 {
  transform: translatey(-0.625rem);
}

.translate-y-12 {
  transform: translatey(0.75rem);
}

.-translate-y-12 {
  transform: translatey(-0.75rem);
}

.translate-y-16 {
  transform: translatey(1rem);
}

.-translate-y-16 {
  transform: translatey(-1rem);
}

.translate-y-24 {
  transform: translatey(1.5rem);
}

.-translate-y-24 {
  transform: translatey(-1.5rem);
}

.translate-y-32 {
  transform: translatey(2rem);
}

.-translate-y-32 {
  transform: translatey(-2rem);
}

.translate-z-0 {
  transform: translatez(0);
}

.-translate-z-0 {
  transform: translatez(-0);
}

.translate-z-25 {
  transform: translatez(0.015625rem);
}

.-translate-z-25 {
  transform: translatez(-0.015625rem);
}

.translate-z-5 {
  transform: translatez(0.03125rem);
}

.-translate-z-5 {
  transform: translatez(-0.03125rem);
}

.translate-z-1 {
  transform: translatez(0.0625rem);
}

.-translate-z-1 {
  transform: translatez(-0.0625rem);
}

.translate-z-2 {
  transform: translatez(0.125rem);
}

.-translate-z-2 {
  transform: translatez(-0.125rem);
}

.translate-z-3 {
  transform: translatez(0.1875rem);
}

.-translate-z-3 {
  transform: translatez(-0.1875rem);
}

.translate-z-4 {
  transform: translatez(0.25rem);
}

.-translate-z-4 {
  transform: translatez(-0.25rem);
}

.translate-z-6 {
  transform: translatez(0.375rem);
}

.-translate-z-6 {
  transform: translatez(-0.375rem);
}

.translate-z-8 {
  transform: translatez(0.5rem);
}

.-translate-z-8 {
  transform: translatez(-0.5rem);
}

.translate-z-10 {
  transform: translatez(0.625rem);
}

.-translate-z-10 {
  transform: translatez(-0.625rem);
}

.translate-z-12 {
  transform: translatez(0.75rem);
}

.-translate-z-12 {
  transform: translatez(-0.75rem);
}

.translate-z-16 {
  transform: translatez(1rem);
}

.-translate-z-16 {
  transform: translatez(-1rem);
}

.translate-z-24 {
  transform: translatez(1.5rem);
}

.-translate-z-24 {
  transform: translatez(-1.5rem);
}

.translate-z-32 {
  transform: translatez(2rem);
}

.-translate-z-32 {
  transform: translatez(-2rem);
}

.scale-0 {
  transform: scale(0);
}

.-scale-0 {
  transform: scale(-0);
}

.scale-25 {
  transform: scale(0.25);
}

.-scale-25 {
  transform: scale(-0.25);
}

.scale-50 {
  transform: scale(0.5);
}

.-scale-50 {
  transform: scale(-0.5);
}

.scale-75 {
  transform: scale(0.75);
}

.-scale-75 {
  transform: scale(-0.75);
}

.scale-90 {
  transform: scale(0.9);
}

.-scale-90 {
  transform: scale(-0.9);
}

.scale-100 {
  transform: scale(1);
}

.-scale-100 {
  transform: scale(-1);
}

.scale-105 {
  transform: scale(1.05);
}

.-scale-105 {
  transform: scale(-1.05);
}

.scale-110 {
  transform: scale(1.1);
}

.-scale-110 {
  transform: scale(-1.1);
}

.scale-125 {
  transform: scale(1.25);
}

.-scale-125 {
  transform: scale(-1.25);
}

.scale-150 {
  transform: scale(1.5);
}

.-scale-150 {
  transform: scale(-1.5);
}

.scale-200 {
  transform: scale(2);
}

.-scale-200 {
  transform: scale(-2);
}

.rotate-0 {
  transform: rotate(0deg);
}

.-rotate-0 {
  transform: rotate(-0deg);
}

.rotate-15 {
  transform: rotate(15deg);
}

.-rotate-15 {
  transform: rotate(-15deg);
}

.rotate-30 {
  transform: rotate(30deg);
}

.-rotate-30 {
  transform: rotate(-30deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.-rotate-45 {
  transform: rotate(-45deg);
}

.rotate-60 {
  transform: rotate(60deg);
}

.-rotate-60 {
  transform: rotate(-60deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.-rotate-90 {
  transform: rotate(-90deg);
}

.rotate-120 {
  transform: rotate(120deg);
}

.-rotate-120 {
  transform: rotate(-120deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.-rotate-180 {
  transform: rotate(-180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.-rotate-270 {
  transform: rotate(-270deg);
}

.rotate-360 {
  transform: rotate(360deg);
}

.-rotate-360 {
  transform: rotate(-360deg);
}

.rotate-x-0 {
  transform: rotatex(0deg);
}

.-rotate-x-0 {
  transform: rotatex(-0deg);
}

.rotate-x-15 {
  transform: rotatex(15deg);
}

.-rotate-x-15 {
  transform: rotatex(-15deg);
}

.rotate-x-30 {
  transform: rotatex(30deg);
}

.-rotate-x-30 {
  transform: rotatex(-30deg);
}

.rotate-x-45 {
  transform: rotatex(45deg);
}

.-rotate-x-45 {
  transform: rotatex(-45deg);
}

.rotate-x-60 {
  transform: rotatex(60deg);
}

.-rotate-x-60 {
  transform: rotatex(-60deg);
}

.rotate-x-90 {
  transform: rotatex(90deg);
}

.-rotate-x-90 {
  transform: rotatex(-90deg);
}

.rotate-x-120 {
  transform: rotatex(120deg);
}

.-rotate-x-120 {
  transform: rotatex(-120deg);
}

.rotate-x-180 {
  transform: rotatex(180deg);
}

.-rotate-x-180 {
  transform: rotatex(-180deg);
}

.rotate-x-270 {
  transform: rotatex(270deg);
}

.-rotate-x-270 {
  transform: rotatex(-270deg);
}

.rotate-x-360 {
  transform: rotatex(360deg);
}

.-rotate-x-360 {
  transform: rotatex(-360deg);
}

.rotate-y-0 {
  transform: rotatey(0deg);
}

.-rotate-y-0 {
  transform: rotatey(-0deg);
}

.rotate-y-15 {
  transform: rotatey(15deg);
}

.-rotate-y-15 {
  transform: rotatey(-15deg);
}

.rotate-y-30 {
  transform: rotatey(30deg);
}

.-rotate-y-30 {
  transform: rotatey(-30deg);
}

.rotate-y-45 {
  transform: rotatey(45deg);
}

.-rotate-y-45 {
  transform: rotatey(-45deg);
}

.rotate-y-60 {
  transform: rotatey(60deg);
}

.-rotate-y-60 {
  transform: rotatey(-60deg);
}

.rotate-y-90 {
  transform: rotatey(90deg);
}

.-rotate-y-90 {
  transform: rotatey(-90deg);
}

.rotate-y-120 {
  transform: rotatey(120deg);
}

.-rotate-y-120 {
  transform: rotatey(-120deg);
}

.rotate-y-180 {
  transform: rotatey(180deg);
}

.-rotate-y-180 {
  transform: rotatey(-180deg);
}

.rotate-y-270 {
  transform: rotatey(270deg);
}

.-rotate-y-270 {
  transform: rotatey(-270deg);
}

.rotate-y-360 {
  transform: rotatey(360deg);
}

.-rotate-y-360 {
  transform: rotatey(-360deg);
}

.rotate-z-0 {
  transform: rotatez(0deg);
}

.-rotate-z-0 {
  transform: rotatez(-0deg);
}

.rotate-z-15 {
  transform: rotatez(15deg);
}

.-rotate-z-15 {
  transform: rotatez(-15deg);
}

.rotate-z-30 {
  transform: rotatez(30deg);
}

.-rotate-z-30 {
  transform: rotatez(-30deg);
}

.rotate-z-45 {
  transform: rotatez(45deg);
}

.-rotate-z-45 {
  transform: rotatez(-45deg);
}

.rotate-z-60 {
  transform: rotatez(60deg);
}

.-rotate-z-60 {
  transform: rotatez(-60deg);
}

.rotate-z-90 {
  transform: rotatez(90deg);
}

.-rotate-z-90 {
  transform: rotatez(-90deg);
}

.rotate-z-120 {
  transform: rotatez(120deg);
}

.-rotate-z-120 {
  transform: rotatez(-120deg);
}

.rotate-z-180 {
  transform: rotatez(180deg);
}

.-rotate-z-180 {
  transform: rotatez(-180deg);
}

.rotate-z-270 {
  transform: rotatez(270deg);
}

.-rotate-z-270 {
  transform: rotatez(-270deg);
}

.rotate-z-360 {
  transform: rotatez(360deg);
}

.-rotate-z-360 {
  transform: rotatez(-360deg);
}

.skew-x-0 {
  transform: skewx(0deg);
}

.-skew-x-0 {
  transform: skewx(-0deg);
}

.skew-x-5 {
  transform: skewx(5deg);
}

.-skew-x-5 {
  transform: skewx(-5deg);
}

.skew-x-10 {
  transform: skewx(10deg);
}

.-skew-x-10 {
  transform: skewx(-10deg);
}

.skew-x-15 {
  transform: skewx(15deg);
}

.-skew-x-15 {
  transform: skewx(-15deg);
}

.skew-x-30 {
  transform: skewx(30deg);
}

.-skew-x-30 {
  transform: skewx(-30deg);
}

.skew-y-0 {
  transform: skewy(0deg);
}

.-skew-y-0 {
  transform: skewy(-0deg);
}

.skew-y-5 {
  transform: skewy(5deg);
}

.-skew-y-5 {
  transform: skewy(-5deg);
}

.skew-y-10 {
  transform: skewy(10deg);
}

.-skew-y-10 {
  transform: skewy(-10deg);
}

.skew-y-15 {
  transform: skewy(15deg);
}

.-skew-y-15 {
  transform: skewy(-15deg);
}

.skew-y-30 {
  transform: skewy(30deg);
}

.-skew-y-30 {
  transform: skewy(-30deg);
}

.transform-none {
  transform: none;
}
