.origin-topLeft {
  transform-origin: top left;
}

.origin-topCenter {
  transform-origin: top center;
}

.origin-topRight {
  transform-origin: top right;
}

.origin-centerLeft {
  transform-origin: center left;
}

.origin-center {
  transform-origin: center center;
}

.origin-centerRight {
  transform-origin: center right;
}

.origin-bottomLeft {
  transform-origin: bottom left;
}

.origin-bottomCenter {
  transform-origin: bottom center;
}

.origin-bottomRight {
  transform-origin: bottom right;
}

.origin-custom {
  --origin-x: 50%;
  --origin-y: 50%;
  transform-origin: var(--origin-x) var(--origin-y);
}

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.top-center, .bottom-center {
  left: 50%;
  transform: translateX(-50%);
}

.left-center, .right-center {
  top: 50%;
  transform: translateY(-50%);
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.layer-auto {
  z-index: auto;
}

.layer-0 {
  z-index: 0;
}

.layer-1 {
  z-index: 1;
}

.layer-2 {
  z-index: 2;
}

.layer-3 {
  z-index: 3;
}

.layer-4 {
  z-index: 4;
}

.layer-5 {
  z-index: 5;
}

.layer-10 {
  z-index: 10;
}

.layer-20 {
  z-index: 20;
}

.layer-30 {
  z-index: 30;
}

.layer-40 {
  z-index: 40;
}

.layer-50 {
  z-index: 50;
}

.layer-100 {
  z-index: 100;
}

.layer-neg-1 {
  z-index: -1;
}

.layer-neg-2 {
  z-index: -2;
}

.layer-neg-3 {
  z-index: -3;
}

.layer-neg-4 {
  z-index: -4;
}

.layer-neg-5 {
  z-index: -5;
}

.layer-neg-10 {
  z-index: -10;
}

.layer-neg-20 {
  z-index: -20;
}

.layer-neg-30 {
  z-index: -30;
}

.layer-neg-40 {
  z-index: -40;
}

.layer-neg-50 {
  z-index: -50;
}

.layer-neg-100 {
  z-index: -100;
}

.full-inset {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.auto-inset {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.full-width {
  left: 0;
  right: 0;
}

.full-height {
  top: 0;
  bottom: 0;
}

.center-horizontal {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.center-vertical {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.isolated {
  isolation: isolate;
}

.default-isolation {
  isolation: auto;
}
