@import url("../#constants.css");
.transition-none {
  transition: none;
}

.transition-all {
  transition: all 300ms ease;
}

.transition-transform {
  transition: transform 300ms ease;
}

.transition-opacity {
  transition: opacity 300ms ease;
}

.transition-background {
  transition: background 300ms ease;
}

.transition-color {
  transition: color 300ms ease;
}

.transition-shadow {
  transition: box-shadow 300ms ease;
}

.transition-border {
  transition: border 300ms ease;
}

.transition-height {
  transition: height 300ms ease;
}

.transition-width {
  transition: width 300ms ease;
}

.transition-filter {
  transition: filter 300ms ease;
}

.transition-margin {
  transition: margin 300ms ease;
}

.transition-padding {
  transition: padding 300ms ease;
}

.transition-top {
  transition: top 300ms ease;
}

.transition-left {
  transition: left 300ms ease;
}

.transition-right {
  transition: right 300ms ease;
}

.transition-bottom {
  transition: bottom 300ms ease;
}

.transition-max-height {
  transition: max-height 300ms ease;
}

.transition-max-width {
  transition: max-width 300ms ease;
}

.transition-visibility {
  transition: visibility 300ms ease;
}

.transition-font-size {
  transition: font-size 300ms ease;
}

.duration-75 {
  transition-duration: 75ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-250 {
  transition-duration: 250ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-400 {
  transition-duration: 400ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.duration-1500 {
  transition-duration: 1500ms;
}

.delay-75 {
  transition-delay: 75ms;
}

.delay-100 {
  transition-delay: 100ms;
}

.delay-150 {
  transition-delay: 150ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-250 {
  transition-delay: 250ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.delay-400 {
  transition-delay: 400ms;
}

.delay-500 {
  transition-delay: 500ms;
}

.delay-700 {
  transition-delay: 700ms;
}

.delay-1000 {
  transition-delay: 1000ms;
}

.delay-1500 {
  transition-delay: 1500ms;
}

.timing-ease {
  transition-timing-function: ease;
}

.timing-linear {
  transition-timing-function: linear;
}

.timing-ease-in {
  transition-timing-function: ease-in;
}

.timing-ease-out {
  transition-timing-function: ease-out;
}

.timing-ease-in-out {
  transition-timing-function: ease-in-out;
}

.timing-ease-elastic {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.timing-ease-spring {
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.timing-ease-bounce {
  transition-timing-function: cubic-bezier(0.53, 2, 0.36, 0.85);
}

.timing-steps-2 {
  transition-timing-function: steps(2);
}

.timing-steps-4 {
  transition-timing-function: steps(4);
}

.timing-steps-end {
  transition-timing-function: steps(1, end);
}

.timing-steps-start {
  transition-timing-function: steps(1, start);
}
